@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto;  
}
.navigation{
    padding: 0 20px;
}

.navigation p{
    display: inline-block;
    font-size: 22px;
    width: 700px;
}

.navigation p span{
    color: #50b9e1;
    
}
nav{
    display: inline-block;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}