<section class="added-travels">

    <div class="added-travel">
        <img src=https://www.tripnholidays.com/wp-content3_1/15-top-rated-tourist-attractions-in-berlin.jpg alt="" class="picture-added-travel">
        <h3>From Paris to Berlin</h3>
        <span>Tickets #5 </span><span>2/28/2022 2:36 PM</span>
        <a href="/Tickets/Create?destinationId=X" class="addTickets">Add Tickets</a>
        <a href="/Tickets/Reserve?destinationId=X" class="bookTrip">Book a Trip</a>
    </div>
    <div class="added-travel">
        <img src=https://img.capital.bg/shimg/zx952y526_3964872.jpg alt="" class="picture-added-travel">
        <h3>From Sofia to Plovdiv</h3>
        <span>Tickets #2 </span><span>3/1/2022 2:39 PM</span>
        <a href="/Tickets/Create?destinationId=X" class="addTickets">Add Tickets</a>
        <a href="/Tickets/Reserve?destinationId=X" class="bookTrip">Book a Trip</a>
    </div>
</section>