<h1 class="text-center mt-2">All Players</h1>
<div class="row mt-2 mb-4">
    <div class="player col-6 col-lg-3 game-player">
        <img src="http://insport.bg/wp-content/uploads/2020/07/hristo-stoichkov.jpg"
             class="player-img-top img-fluid player-image">
        <div class="player-body">
            <h5 class="player-title text-center" data-toggle="tooltip" data-placement="bottom"
                title="Hristo Stoichkov Stoichkov born 8 February 1966 is a Bulgarian former professional footballer who is a football commentator for TUDN.">
                Hristo Stoichkov
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Striker</li>
                <li class="list-group-item">
                    <span class="speed-stat">10</span><span class="endurance-stat">9</span>
                </li>
            </ul>
            <a href="/Players/AddToCollection?playerId=X" class="btn btn-block btn-primary">Add to Collection</a>
        </div>
    </div>
</div>